---
layout: default
meta_title: جنبش متوقف کردن بیماری همه گیر (پاندمی) COVID-19
meta_description: دولت ها ناکارآمد عمل می کنند، ما باید خودمان همین حالا اقدام کنیم! سهم خودتان را انجام دهید و در خانه لعنتی بمانید!
body_class: home
title: '#StayTheFuckHome'
lang: fa
---

<main dir="rtl" id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">جنبش متوقف کردن بیماری همه گیر (پاندمی) COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                دولت ها در جلوگیری از گسترش <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a> و مهار بیماری همه گیر <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">COVID-19</a> درمانده اند. اقدامات آسه آسه دولتها، سیاست دعوت به حفظ آرامش و تلاش برای ثابت نگه داشتن اقتصاد ، مانع از انجام اقدامات پیشگیرانه لازم برای حفاظت از میلیون ها نفر در برابر این بیماری می شود. زمان آن فرا رسیده که ما به عنوان شهروندان کره زمین ، اقدامات لازم را انجام دهیم و نقش خود را در نبرد با COVID-19 بازی کنیم.
                بیایید بی پرده بگوییم: در خانه لعنتی بمانید!
            </p>

            <h2 class="text-3xl">بیانیه خود قرنطینگی</h2>

            <p>
                از آنجا که درمان مطمئن و واکسیناسیون مناسب حداقل یک سال دیگر ممکن میشود، تنها راه موثر برای دور نگه داشتن اپیدمی کرونا ویروس این است که به ویروس شانس شیوع کمتر بدهیم. لیست زیر اقداماتی است، که از ساده ترین روشهای موثر ممکن برای مبارزه با با این بیماری همه گیر می باشند ، این اقدامات به منزله مجموعه ای از دستورالعمل های لازم برای افرادی هستند که مایل به پیوستن به این جنبش و عمل به آن می باشند، ، درحالی که مسئولان دولتی همچنان این موضوع را نادیده میگیرند.

            </p>

            <ol class="text-xl mb-12 list-decimal pr-12">
                <li class="pb-2">وحشت نکنید ، اما هوشیار باشید.</li>
                <li class="pb-2">دستان خود را داپما بشویید و آداب سرفه کردن و عطسه کردن خوب (اتیکت سرفه و عطسه)‌ را تمرین کنید.
                </li>
                <li class="pb-2">سعی کنید تا حد ممکن به صورت خود دست نزنید ، همچنین به دهان ، بینی و چشم هایتان.
                </li>
                <li class="pb-2">فاصله انسانی را تمرین کنید ، بغل کردن و روبوسی ممنوع ، دست دادن ممنوع، بزن قدش ممنوع. در صورت لزوم ، از راه های مطمئن تر دیگری استفاده کنید.
                </li>
                <li class="pb-2">در کنسرت ها ، نمایش های تئاتر ، مسابقات ورزشی یا هرگونه برنامه تفریحی دسته جمعی دیگر شرکت نکنید.
                </li>
                <li class="pb-2">از بازدید موزه ها ، نمایشگاه ها ، سینماها ، کافی شاپ ها و رستوران ها و سایر مکان های تفریحی خودداری کنید.
                </li>
                <li class="pb-2">از اجتماعات و رویدادهای اجتماعی مانند جلسات باشگاه ، مجالس مذهبی و مجالس خصوصی دوری کنید.
                </li>
                <li class="pb-2">میزان سفر خود را به حداقل برسانید. اگر خیلی ضروری نبود مسافت های طولانی را نروید.
                </li>
                <li class="pb-2">در صورت لزوم از حمل و نقل عمومی استفاده نکنید.
                </li>
                <li class="pb-2">اگر می توانید در خانه کار کنید ، این کار را انجام دهید. از کارفرمای خود بخواهید در صورت لزوم اجازه کار از راه دور را بدهد.
                </li>
                <li class="pb-2">بسیاری از تعاملات اجتماعی را با روش های جایگزین مانند تماس تلفنی یا گپ تصویری انجام دهید.
                </li>
                <li class="pb-2">اگر خیلی ضروری نیست خانه خود را ترک نکنید.
                </li>
            </ol>

            <p class="text-xl">
                لطفاً به خاطر داشته باشید که هیچ نوع اقدام صحیح یا غلطی هنوز تعریف نشده است. فقط اقداماتی را انجام دهید که با آنها احساس راحتی می کنید و معیشت خود را به خطر نیندازید. از کار خود استعفا ندهید! با این حال، به خاطر داشته باشید که هر عملی کمک می کند.

            </p>

            <h2 class="text-3xl">چرا اینقدر مهم است
            </h2>

            <p>
                SARS-CoV-2 یک ویروس بسیار عفونی و بالقوه کشنده است که باعث بیماری تنفسی به نام COVID-19 می شود. ممکن است آن را تحت یکی از سایر نامهای بسیار زیادش، از جمله 2019-nCoV، .کرونا ویروس جدید، کرونا ویروس ووهان ، آنفولانزای چین یا  ووهان ، یا فقط خیلی سادگی تحت عنوان کرونا ویروس بشناسید. همه این موارد به همان ویروس اشاره دارد که این جنبش در تلاش است آن را متوقف کند.

            </p>

            <p>
                طی ماه ها و هفته های گذشته ، این ویروس و بیماری ناشی از آن بارها و بارها با ویروس آنفولانزا و آنفولانزای فصلی مقایسه شده اند. با توجه به همپوشانی علائم و شدت ظاهر مشابه ، این مقایسه به طور طبیعی برای بسیاری از افراد صورت می گیرد ، با این حال ، با نگاه به آنچه که تاکنون در مورد این ویروس جدید می شناسیم ، تهدیدی را که برای جامعه موجود است ، نمی توان به آسانی کنار گذاشت.

            </p>

            <ol class="text-xl mb-12 list-decimal pr-12 font-bold">
                <li class="pb-2">
                    <h3>مسری تر از آنفولانزا
                    </h3>
                    <p class="font-normal">
                        با تخمین (R0) بین 1.4 - 6.49 و برآورد میانگین 3.28 <sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup> ، SARS-CoV-2 بسیار عفونی تر است و بسیار سریعتر از آنفولانزای فصلی دارای میانگین R0 برابر با 1.28، گسترش می یابد <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>کشنده تر از آنفولانزا</h3>
                    <p class="font-normal">

                        نرخ مرگ و میر موردی (یا همان case fatality rate) ویروس SARS-CoV-2 تقریباً 2٪ تخمین زده می شود <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>، بدین معنی که متأسفانه ، حدود 2٪ از افراد تشخیص داده شده مبتلا به COVID-19، تسلیم آن می شوند. در مقایسه ، CFR آنفولانزای فصلی حدود 0/1٪ تخمین زده می شود <sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>، این بدان معناست که SARS-CoV-2 حدود 20 برابر کشنده تر از آنفولانزای فصلی است.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>امکان بروز علائم شدید</h3>
                    <p class="font-normal">

                        تخمین زده می شود 20-15٪ از افراد آلوده از علائم شدیدی که نیاز به مراقبت پزشکی دارند <sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>، رنج می برند ، از جمله ذات الریه با تنگی نفس و کاهش اشباع اکسیژن خون.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>فاقد درمان ، فاقد واکسن ، فاقد ایمنی</h3>
                    <p class="font-normal">

                        از آنجایی که SARS-CoV-2 به تازگی پیدا شده است ، هنوز هیچ درمان موثقی برای COVID-19 وجود ندارد و تحقیقات بیشتری لازم است ، تا بتوان افراد آلوده را به طور موثر درمان کرد. به همین ترتیب ، هیچ واکسنی برای SARS-CoV-2 وجود ندارد <sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup> و تولید چنین واکسنی زمان زیادی را می طلبد. بدون داشتن واکسن و سیستم ایمنی پیشه ور گسترده ، همه افراد مستعد این عفونت است. البته بیشتر افراد مبتلا فقط از علائم خفیف رنج می برند ، اما عدم داشتن ایمنی لازم می تواند منجر به بیماری شدید در تعداد قابل توجهی از افراد در معرض خطر شود.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>رشد نمایی</h3>
                    <p class="font-normal">

                        ه دلیل عدم داشتن ایمنی لازم در برابر این ویروس جدید ، همه انسان ها تا حد بالایی محتمل به دچار شدن به این بیماری هستند. و گرچه رشد نمایی همیشه در ابتدا کند به نظر می رسد ، اما می تواند در مدت زمان نسبتاً کوتاهی منجر به اعداد غیر قابل تصور بزرگی شود. با توجه به تعداد افراد آلوده که در حال حاضر در طی چند روز دو برابر شدند <sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>، سیستم های پزشکی ما مملو از افراد می باشد و این امر به دلیل عدم رسیدن مراقبت های لازم ، منجر به تعداد تلفات بیشتر می شود.
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                شما با پیوستن به این جنبش و در نتیجه محدود کردن امکان ابتلای افراد جدید به این عفونت ، نه تنها از خود محافظت می کنید بلکه سبب محدود کردن شیوع آن به هر کس دیگری نیز می شوید ، به ویژه افرادی که در معرض خطر بیشتری هستند از عواقب شدید این ویروس رنج می برند.
                <br /><br />

                <strong>اگر به این مسئله اهمیت می دهید ، لطفاً آن را در رسانه های اجتماعی ، از طریق پست الکترونیکی به اشتراک بگذارید یا تنها در مورد آن به دوستان و خانواده خود بگویید. اما خواهش می کنم ، فقط #در خانه لعنتی بمانید.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="من نقش خود را در مبارزه با #COVID19 انجام میدهم.   از تو میخواهم همین کار را بکنی!" data-url="https://staythefuckhome.com/fa/" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="mr-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>توجه:</strong> محتوای این وب سایت جدا از توصیه های پزشکی می باشد. اطلاعات ارائه شده در بالا ، پیشنهادی برای افراد مشتاقی است که خواهان پیروی از دستورالعملهای ساده و مبتنی بر بهترین شیوه ها و شواهد برای محافظت از خود و عزیزانشان هستند. هیچ ضمانتی یا شواهد علمی وجود ندارد که پیروی از دستورالعمل های ذکر شده منجر به کاهش تعداد بیماران جدید یا حتی متوقف کردن همه گیری COVID-19 شود. همچنین هیچ تضمینی وجود ندارد که پیروی از این دستورالعمل ها خطر ابتلا به عفونت SARS-CoV-2 یا هر نوع ویروسی یا باکتریایی دیگر را کاهش  دهد.
                کلیه اطلاعات ارائه شده در این وب سایت با هدف و اراده والا برای ارائه اطلاعات واقعی ارائه شده است. به هیچ وجه اپراتورهای وب سایت مسئولیتی در قبال هرگونه مطالبه ، خسارت و یا سایر بدهی ها نخواهند داشت. اگر درباره اطلاعات ارائه شده در این وب سایت نگرانی یا اظهار نظر دارید ،  با ما از این آدرس در تماس باشید: <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>



